---
import type { GetStaticPathsOptions, Page } from "astro";
import { type CollectionEntry, getCollection } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";
import Main from "../../components/Main.astro";
import H1 from "../../components/H1.astro";
import PostList from "../../components/PostList.astro";
import Pagination from "../../components/Pagination.astro";
import CategoryList from "../../components/CategoryList.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = await getCollection("posts");
  return paginate(allPosts, { pageSize: 6 });
}

type Props = {
  page: Page;
};

const { page } = Astro.props;
const posts = page.data as CollectionEntry<"posts">[];
const allCategories = posts.flatMap((post) => post.data.categories);
const categories = Array.from(new Set(allCategories));
---

<BlogLayout
  title="Matt Birch | Web Developer"
  description=`Transforming ideas into powerful web experiences.
  I combine technical expertise with creative problem-solving to deliver 
  websites that not only look great but perform exceptionally.`
>
  <Main>
    <H1 text="My Blog Title" />
    <p class="text-zinc-900 text-2xl mb-24 max-sm:mb-14">
      Subheading Goes Here
    </p>
    <CategoryList categories={categories} title="Tags" />
  </Main>
  <div class="mb-12">
    <Pagination nextURL="/blog/2" />
  </div>
  <PostList posts={posts} />
  <div class="mb-36">
    <Pagination nextURL="/blog/2" />
  </div>
</BlogLayout>
