---
import { getCollection } from "astro:content";
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import BlogLayout from "../layouts/BlogLayout.astro";
import FeaturedPost from "../components/FeaturedPost.astro";
import CategoryList from "../components/CategoryList.astro";
import PostList from "../components/PostList.astro";

const allPosts = await getCollection("posts");
const featuredPosts = allPosts.filter((post) => post.data.featured);
const posts = allPosts.filter((post) => !post.data.featured).slice(0, 4);
const allCategories = posts.flatMap((post) => post.data.categories);
const categories = Array.from(new Set(allCategories));
---

<BlogLayout>
  <Main>
    <H1 text="Matt Birch | Web Developer" />
    <p class="text-zinc-900 text-2xl mb-24 max-sm:mb-14">
      Transforming ideas into powerful web experiences. I combine technical
      expertise with creative problem-solving to deliver websites that not only
      look great but perform exceptionally.
    </p>
    {featuredPosts.map((post) => <FeaturedPost post={post} />)}
    <hr class="w-full border border-teal-900 mb-16 max-sm:mb-10" />

    <CategoryList categories={categories} title="Recent Posts" />
  </Main>
  <div class="mb-32">
    <PostList posts={posts} />
  </div>
  <div class="flex justify-end mb-60 max-sm:mb-36">
    <a href="/blog" class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl">
      Read More
    </a>
  </div>
</BlogLayout>
