---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import PostList from "../components/PostList.astro";
import Main from "../components/Main.astro";
import H1 from "../components/H1.astro";

const posts = (await getCollection("posts")).slice(0,6);
---

<Layout title="Blog - My Portfolio Blog, Y'all! Time To Write">
  <Main>
    <H1 text="My Blog Title" />
    <p class="text-zinc-900 text-2xl mb-24 max-sm:mb-14">
      Subheading Goes Here
    </p>
    <PostList posts={posts} />"
  </Main>
</Layout>
