---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.jsx";

const pageTitle = "Get In Touch With Matt";
const pageDescription = "Get in touch with Matt Birch";
---

<Layout title={pageTitle} description={pageDescription} fullWidth={true}>
  <div class="horizontal-gradient-wrapper">
    <!-- Section for Page Title -->
    <section
      class="max-w-7xl mx-auto py-12 md:py-20 lg:py-24 xl:py-32 px-4 sm:px-6 md:px-8 fade-in-up transition-colors duration-300"
    >
      <div class="max-w-screen mx-auto">
        <h1 class="h1-text text-center">
          {pageTitle}
        </h1>
      </div>
    </section>

    <!-- Contact Form -->
    <section
      class="max-w-5xl mx-auto pb-12 md:pb-20 lg:pb-24 xl:pb-32 px-4 sm:px-6 md:px-8"
    >
      <div
        class="outer-container transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-[1.01] bg-gray-50 dark:bg-gray-800 p-4 sm:p-6 md:p-8"
      >
        <ContactForm />
      </div>
    </section>

    <!-- Quote Section with Responsive Adjustments for md -->
    <section
      class="relative w-full flex items-center justify-center h-auto py-8 sm:py-12 md:py-16 bg-gradient-to-r from-blue-900 to-gray-800"
    >
      <div
        class="relative z-10 text-center px-4 sm:px-6 md:px-8 max-w-screen-xl"
      >
        <h2
          class="text-white italic text-xl sm:text-2xl md:text-3xl lg:text-4xl leading-snug sm:leading-tight md:leading-relaxed"
        >
          "The meeting of two personalities is like the contact of two chemical
          substances: if there is any reaction, both are transformed."
        </h2>
        <p
          class="text-gray-400 text-sm sm:text-base md:text-lg mt-4 relative text-center sm:text-right"
        >
          — Carl Jung
        </p>
      </div>
    </section>

    <!-- Contact Information Section -->
    <section
      class="max-w-7xl mx-auto py-12 md:py-20 lg:py-24 xl:py-32 px-4 sm:px-6 md:px-8"
    >
      <h2
        class="h2-text text-center font-bold text-gray-800 dark:text-white mb-12"
      >
        Let's connect
      </h2>
      <div
        class="bg-gradient-to-r from-gray-100 to-gray-200 dark:from-gray-700 dark:to-gray-800 p-6 sm:p-8 md:p-12 rounded-xl shadow-lg overflow-hidden relative"
      >
        <div
          class="absolute top-0 left-0 w-full h-2 bg-gradient-to-r from-gray-300 to-gray-400 dark:from-gray-600 dark:to-gray-700"
        >
        </div>
        <div
          class="grid grid-cols-1 custom-lg:grid-cols-3 gap-6 items-center relative z-10"
        >
          <!-- Phone -->
          <div
            class="text-center group transition-all duration-300 hover:bg-[#1e3a8a] hover:text-white p-4 sm:p-6 md:p-8 rounded-lg w-full sm:w-auto"
          >
            <div class="mb-4 transition-all duration-300">
              <i
                class="fas fa-phone text-[#1e3a8a] dark:text-[#60a5fa] group-hover:text-white text-4xl transition-colors duration-300"
              ></i>
            </div>
            <h3
              class="text-xl font-bold text-gray-700 dark:text-gray-300 group-hover:text-white mb-2 transition-colors duration-300"
            >
              Phone
            </h3>
            <p
              class="text-gray-700 dark:text-gray-300 group-hover:text-white transition-colors duration-300"
            >
              703-599-3188
            </p>
          </div>

          <!-- Address -->
          <div
            class="text-center group transition-all duration-300 hover:bg-[#1e3a8a] hover:text-white p-4 sm:p-6 md:p-8 rounded-lg w-full sm:w-auto"
          >
            <div class="mb-4 transition-all duration-300">
              <i
                class="fas fa-map-marker-alt text-[#1e3a8a] dark:text-[#60a5fa] group-hover:text-white text-4xl transition-colors duration-300"
              ></i>
            </div>
            <h3
              class="text-xl font-bold text-gray-700 dark:text-gray-300 group-hover:text-white mb-2 transition-colors duration-300"
            >
              Address
            </h3>
            <p
              class="text-gray-700 dark:text-gray-300 group-hover:text-white transition-colors duration-300"
            >
              11654 Plaza America Dr. #352<br />
              Reston, Va., 20190
            </p>
          </div>

          <!-- Email -->
          <div
            class="text-center group transition-all duration-300 hover:bg-[#1e3a8a] hover:text-white p-4 sm:p-6 md:p-8 rounded-lg w-full sm:w-auto"
          >
            <div class="mb-4 transition-all duration-300">
              <i
                class="fas fa-envelope text-[#1e3a8a] dark:text-[#60a5fa] group-hover:text-white text-4xl transition-colors duration-300"
              ></i>
            </div>
            <h3
              class="text-xl font-bold text-gray-700 dark:text-gray-300 group-hover:text-white mb-2 transition-colors duration-300"
            >
              Email
            </h3>
            <p
              class="text-gray-700 dark:text-gray-300 group-hover:text-white transition-colors duration-300"
            >
              matt@optimizewebsolutions.com
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</Layout>

<style>
  .horizontal-gradient-wrapper {
    background: linear-gradient(to bottom, #ffffff, #dde4ee, #ffffff);
    min-height: 100vh;
  }

  /* Dark mode gradient */
  :global(.dark) .horizontal-gradient-wrapper {
    background: linear-gradient(to bottom, #45617c, #1f2937, #45617c);
  }

  .outer-container {
    @apply bg-gray-50 dark:bg-gray-800 shadow-md rounded-lg overflow-hidden p-4 sm:p-6 md:p-8;
  }

  /* Dark mode adjustment */
  :global(.dark) .outer-container {
    background-color: #0f172a;
    box-shadow:
      0 10px 15px -3px rgba(0, 0, 0, 0.3),
      0 4px 6px -2px rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(255, 255, 255, 0.05);
  }

  /* Hover effect */
  .outer-container:hover {
    box-shadow:
      0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04),
      0 0 0 1px rgba(0, 0, 0, 0.05);
  }

  :global(.dark) .outer-container:hover {
    box-shadow:
      0 20px 25px -5px rgba(0, 0, 0, 0.3),
      0 10px 10px -5px rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(255, 255, 255, 0.05);
  }

  .form-input {
    @apply w-full py-2 px-3 sm:py-3 sm:px-4 border border-gray-300 dark:border-gray-600 rounded-md mb-4;
  }
</style>

<script type="module" src="/scripts/fadeIn.js"></script>
