---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.svelte";

const pageTitle = "Contact";
const pageDescription = "Get in touch with Matt Birch";
---

<Layout title={pageTitle} description={pageDescription}>
  <div class="max-w-4xl mx-auto py-12">
    <h1 class="text-4xl font-bold text-teal-900 mb-12 text-center">
      {pageTitle}
    </h1>
    <ContactForm client:load />
  </div>
</Layout>

<script src="https://kwesforms.com/v2/kf-script.js" defer></script>
