---
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.svelte";

const pageTitle = "Contact";
const pageDescription = "Get in touch with us";
---

<Layout title={pageTitle} description={pageDescription}>
  <Main>
    <H1 text={pageTitle} />
    <div class="mb-20">
      <ContactForm client:load />
    </div>
  </Main>
</Layout>

<script src="https://kwesforms.com/v2/kf-script.js" defer></script>
