---
import Layout from "../layouts/Layout.astro";
import TechnicalSkills from "../components/TechnicalSkills.astro";
---

<Layout>
  <!-- Projects Section -->
  <section class="projects-section py-16 transition-colors duration-300">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <h2 class="text-4xl font-bold text-center mb-12 projects-title">
        My Skillz
      </h2>
      <div class="projects-container space-y-8">
                   <TechnicalSkills     />
          
      </div>
    </div>
  </section>

</Layout>
