---
import Layout from "@/layouts/Layout.astro";
---
<Layout>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Test</title>
</head>
<body>
    <div class="bg-blue-500 text-white p-4 m-4">
        This should be a blue box with white text and padding.
    </div>
    <div class="test-apply">
        This should also be styled using @apply.
    </div>
  
</body>
</html>
</Layout