---
export interface Props {
  current: string;
  parent?: string;
}
const { current, parent } = Astro.props;
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb whitespace-nowrap">
    <li class="breadcrumb-item inline-block">
      <a href="/">Home</a>
    </li>
    {
      parent && (
        <li class="breadcrumb-item inline-block">
          <a href="/blog">{parent}</a>
        </li>
      )
    }
    <li class="breadcrumb-item inline-block active" aria-current="page">
      {current}
    </li>
  </ol>
</nav>

<style>
  .breadcrumb {
    @apply flex items-center text-sm sm:text-base md:text-lg text-gray-600 min-w-max;
  }

  .breadcrumb-item {
    @apply flex items-center;
  }

  .breadcrumb-item:not(:last-child)::after {
    content: "/";
    @apply mx-1 sm:mx-2;
    white-space: pre;
  }

  .breadcrumb-item a {
    @apply text-blue-600 hover:text-blue-800 transition-colors duration-200;
  }

  .breadcrumb-item.active {
    @apply text-gray-800;
  }

  /* Dark mode styles */
  :global(.dark) .breadcrumb {
    @apply text-zinc-300;
  }

  :global(.dark) .breadcrumb-item a {
    @apply text-sky-100 hover:text-blue-200;
  }

  :global(.dark) .breadcrumb-item.active {
    @apply text-gray-200;
  }
</style>
