---
type Props = {
  category: string;
};

const { category } = Astro.props;
---

<a
  href={`/category/${category}`}
  class="category-text text-teal-900 rounded-3xl p-2 uppercase text-xl border-2 border-teal-900
    whitespace-nowrap"
>
  {category}
</a>

<style>
  :global(.dark) .category-text {
    color: #ffffff;
  }
</style>
