---
import type { CollectionEntry } from "astro:content";

type Props = {
  categories: string[];
  title?: string;
};

const { categories, title } = Astro.props;

const getCategoryUrl = (category: string) =>
  `/category/${category.toLowerCase().replace(/\s+/g, "-")}`;
---

<div class="category-section my-4 sm:my-6 md:my-8">
  {
    title && (
      <h2 class="text-xl sm:text-2xl font-bold mb-2 sm:mb-4 text-center">
        {title}
      </h2>
    )
  }
  <div class="flex flex-wrap justify-center gap-2 sm:gap-4">
    {
      categories.map((category) => (
        <a
          href={getCategoryUrl(category)}
          class="category-button text-blue-700 dark:text-white rounded-full px-3 py-1 sm:px-4 sm:py-2 md:px-6 md:py-3 text-sm sm:text-base md:text-lg font-semibold border border-blue-700 dark:border-white hover:bg-sky-100 dark:hover:bg-teal-900 transition-colors duration-300"
        >
          {category}
        </a>
      ))
    }
  </div>
</div>

<style>
  .category-button {
    white-space: nowrap;
  }

  @media (max-width: 640px) {
    .category-button {
      font-size: 0.75rem;
      padding: 0.25rem 0.75rem;
    }
  }
</style>
