<section class="pt-10 lg:pt-12 xl:pt-16 max-w-4xl mx-auto px-4 md:px-6 lg:px-8">
  <div
    class="max-w-2xl mx-auto rounded-lg md:rounded-full shadow-lg overflow-hidden transition-all duration-300 ease-in-out hover:shadow-xl hover:scale-105 hover:rotate-1"
  >
    <div
      class="backdrop-blur-sm p-1 bg-cta-backdrop dark:bg-cta-backdrop-dark transition-colors duration-300 ease-in-out"
    >
      <div
        class="rounded-lg md:rounded-full bg-gradient-to-r from-blue-200 to-blue-100 dark:bg-gradient-to-r dark:from-zinc-900 dark:to-zinc-800"
      >
        <div class="max-w-xl mx-auto px-6 py-8 md:py-10 text-center">
          <h2 class="text-2xl font-bold text-cta-dark dark:text-gray-100 mb-4">
            Ready to Elevate Your Web Presence?
          </h2>
          <p class="text-lg text-cta-dark dark:text-gray-300 mb-6">
            Let's collaborate and bring your vision to life!
          </p>
          <a
            href="#contact"
            class="btn btn-primary rounded-full shadow-md transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
            Get in Touch
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
