<section class="pt-8 sm:pt-12 md:pt-16 max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
  <div
    class="max-w-2xl mx-auto rounded-lg shadow-lg overflow-hidden transition-all duration-300 ease-in-out hover:shadow-xl hover:scale-105 hover:rotate-1"
  >
    <div class="backdrop-blur-sm p-1 bg-cta-backdrop">
      <div
        class="bg-cta-content-bg rounded-md bg-gradient-to-r from-[rgba(239,246,255,0.9)] to-[rgba(219,234,254,0.9)]"
      >
        <div class="max-w-xl mx-auto px-6 py-10 text-center">
          <h2 class="text-2xl font-bold text-cta-dark mb-4">
            Ready to Elevate Your Web Presence?
          </h2>
          <p class="text-lg text-cta-subtext mb-6">
            Let's collaborate and bring your vision to life!
          </p>
          <a
            href="#contact"
            class="inline-block bg-gradient-to-r from-cta-button from-cta-from to-cta-button to-cta-to hover:from-cta-button-hover hover:to-cta-button-hover text-cta-text font-semibold py-2 px-6 rounded-full shadow-md transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105"
          >
            Get in Touch
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
