---
import NavBar from "./NavBar.astro";
import ThemeToggle from "./ThemeToggle.jsx";
import { menuItems } from "../config/menu.js";
type MenuItem = {
  title: string;
  path?: string;
  children?: Array<{ title: string; path: string }>;
};
const typedMenuItems: MenuItem[] = menuItems;
---

<header
  class="sticky top-0 border-b z-20 transition-all bg-white dark:bg-gray-800"
>
  <div class="py-5 border-transparent">
    <NavBar menuItems={typedMenuItems}>
      <ThemeToggle client:load />
    </NavBar>
  </div>
</header>
