---
import NavBar from './NavBar.astro';
import StickyHeader from "./StickyHeader.astro";
---


<StickyHeader
    class="sticky top-0 border-b z-20 transition-all"
    scrollY={50}
    defaultClass="py-5 border-transparent"
    activeClass="py-2 bg-white/80 border-gray-200 backdrop-blur-lg">
    <div class="bg-white">
        <NavBar>

        </NavBar>
    </div>
  </StickyHeader>