---
export interface Props {
  children?: any;
}

const { children } = Astro.props;
---

<div>
  <slot />
</div>

<script>
  function setupMobileMenu() {
    const mobileMenu = document.querySelector("#mobile-menu");
    const mobileMenuButton = document.querySelector("#mobile-menu-button");

    // Check if mobileMenu exists and is an HTMLElement
    if (!mobileMenu || !(mobileMenu instanceof HTMLElement)) {
      console.error("Mobile menu element not found or is not an HTMLElement");
      return;
    }
    const mobileMenuElement = mobileMenu;

    // Check if mobileMenuButton exists and is an HTMLElement
    if (!mobileMenuButton || !(mobileMenuButton instanceof HTMLElement)) {
      console.error(
        "Mobile menu button element not found or is not an HTMLElement"
      );
      return;
    }
    const mobileMenuButtonElement = mobileMenuButton;

    const closeOnClick = mobileMenuElement.dataset.closeOnClick === "true";

    const menuIcon = mobileMenuButtonElement.querySelector(".menu-icon");
    const closeIcon = mobileMenuButtonElement.querySelector(".close-icon");

    function toggleMobileMenu() {
      mobileMenuElement.classList.toggle("hidden");
      const isExpanded = !mobileMenuElement.classList.contains("hidden");
      mobileMenuButtonElement.setAttribute(
        "aria-expanded",
        isExpanded.toString()
      );

      if (menuIcon && closeIcon) {
        menuIcon.classList.toggle("hidden");
        closeIcon.classList.toggle("hidden");
      }
    }

    mobileMenuButtonElement.addEventListener("click", toggleMobileMenu);

    if (closeOnClick) {
      const menuItems = mobileMenuElement.querySelectorAll("a");
      menuItems.forEach((item) => {
        item.addEventListener("click", toggleMobileMenu);
      });
    }

    return () => {
      mobileMenuButtonElement.removeEventListener("click", toggleMobileMenu);
      if (closeOnClick) {
        const menuItems = mobileMenuElement.querySelectorAll("a");
        menuItems.forEach((item) => {
          item.removeEventListener("click", toggleMobileMenu);
        });
      }
    };
  }

  const cleanup = setupMobileMenu();

  // Clean up event listeners when the component is unmounted
  document.addEventListener("astro:before-swap", () => {
    if (typeof cleanup === "function") cleanup();
  });
</script>
