---
const skills = [
  {
    title: "Front-end Web Developer",
    description: "Building responsive and dynamic websites.",
    icon: "fa-code",
  },
  {
    title: "Prompt Engineer",
    description: "Crafting and optimizing prompts for AI models.",
    icon: "fa-robot",
  },
  {
    title: "Copywriter",
    description: "Creating compelling and persuasive content.",
    icon: "fa-pen-fancy",
  },
];
---

<div
  class="skills-outer-container bg-gray-900 dark:bg-gray-800 rounded-full p-12 shadow-lg border border-gray-700 dark:border-gray-600"
>
  <div
    class="skills-container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 justify-center"
  >
    {
      skills.map((skill) => (
        <div class="skill-card bg-gray-900 rounded-full p-8 hover:scale-105 hover:shadow-xl">
          <div class="icon-wrapper mb-4">
            <i
              class={`fas ${skill.icon} text-4xl text-teal-400 dark:text-teal-300`}
            />
          </div>
          <h3 class="text-2xl font-bold mb-2 text-teal-400 dark:text-teal-300">
            {skill.title}
          </h3>
          <p class="text-gray-300 dark:text-gray-400 mb-4">
            {skill.description}
          </p>
          <button class="bg-teal-500 hover:bg-teal-600 text-white py-2 px-4 rounded-lg">
            Learn More
          </button>
        </div>
      ))
    }
  </div>
</div>

<style>
  .skills-outer-container {
    margin: 2rem auto;
    max-width: 1600px;
  }

  .skill-card {
    width: 340px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow:
      0 10px 20px rgba(50, 50, 93, 0.2),
      0 10px 20px rgba(0, 0, 0, 0.15);
    transition:
      box-shadow 0.3s ease,
      transform 0.3s ease;
    border: 2px solid #1f2937;
    padding: 2rem;
  }

  .icon-wrapper {
    background: rgba(20, 184, 166, 0.1);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skill-card h3 {
    color: #14b8a6;
    font-size: 1.75rem;
  }

  .skill-card button {
    background-color: #14b8a6;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    transition: background-color 0.3s ease;
  }
</style>
