---
import Layout from "../../layouts/Layout.astro";
import SoftSkillsComponent from "../../components/SoftSkills.astro";
---

<Layout>
  <section class="skills-page-section py-16 bg-gray-100 dark:bg-transparent">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <h1 class="text-4xl font-bold text-center mb-12 projects-title">
        Soft Skills
      </h1>
      <SoftSkillsComponent />
    </div>
  </section>
</Layout>
